@use "sass:color";
@use "../utilitaires/variables";

/**
* @author Morgane Thiebaut
*/

button {
  appearance: none;
  background-color: variables.$blanc;
  border-radius: 18px;
  color: variables.$bleuFoncer;
  border-color: variables.$bleuFoncer;
  border-style: solid;
  padding: 0.5em 1em;
  &:after {
    margin-left: 0.4em;
  }
  &:hover {
    background-color: variables.$bleuFoncer;
    border-color: variables.$bleuFoncer;
    color: variables.$blanc;
  }
  &:focus {
    border-color: variables.$bleuClair;
    border-width: 4px;
  }
}